@{
    ViewData["Title"] = "Home Page";
}

 </div>
<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-4">TALLER HERNÁNDEZ</h1>
        <p style="color:#d00e15">SISTEMA DE GESTIÓN DE VEHÍCULOS</p>
        <h1 class="display-4 font-weight-normal">TALLER HERNÁNDEZ</h1>
        <p style="color:#d00e15" class="font-weight-bold">SISTEMA DE GESTIÓN DE VEHÍCULOS</p>
    </div>
</div>
</div>
